
.section-title {
    text-align: center;
    font-size: 2rem;
}
.about__container {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    margin-top: 10px;
}
.about__img img {
    max-width: 300px;
    display: block;
    margin: auto;
}
@media screen and (max-width: 560px) {
    .about__container {
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
    .about__img img{
        width: 100%;
    }
   
}


.about__container > * {
    width: 40%;
}



.about__profession{
    display: block;
    margin: 1rem 0;
    font-weight: bold;
}
.icons{
    font-size: 1.4rem;
    margin: 0 0.3rem;
}

.about__text {
    margin-bottom: 2rem;
}
