.home__container {
    display: flex;
    align-items: center;
    gap: 2rem;
} 

.home__title {
    font-size: 20vw;
    line-height: 0.8;
}
.home__img {
    width: 100%;
}
@media screen and (max-width: 750px) {
    .home__container {
        flex-direction: column;
    }
    .home__title {
        font-size: 30vw;
    }
}
