.portfolio__container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
}

.portfolio__img > img {
    width: 100%;
}


.portfolio__img{
    position: relative;
    overflow: hidden;
}
.portfolio__img img{
    border-radius: .5rem;
}
.portfolio__link{
    position: absolute;
    bottom: -100%;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,.3);
    border-radius: .5rem;
    cursor: pointer;
    backdrop-filter: blur(10px);
    transition: .3s;
}
.portfolio__img:hover .portfolio__link{
    bottom: 0;
}


.github-source {
    right: 0;
}
.external-link {
    display: flex;
}
